@font-face {
  font-family: Raqami;
  src: url(./assets/alfont_com_AlFont_com_Raqami.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raqami;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    130deg,
     hsla(243, 100%, 41%, 1) 0%,
    hsla(261, 89%, 27%, 0.9) 30%, /* You can adjust the alpha value (0.7) for transparency */
    hsla(330, 100%, 31%, 0.8) 49%, /* You can adjust the alpha value (0.5) for transparency */
    hsla(354, 80%, 47%, 0.8) 66%, /* You can adjust the alpha value (0.8) for transparency */
    hsla(1, 100%, 58%, 0.9) 82%, /* You can adjust the alpha value (0.82) for transparency */
    hsla(1, 100%, 58%, 1) 100%
  );
}

body::after {
  position: absolute;
  content: '';
  width: 280px;
  height: 280px;
  bottom: 0;
  left: 0;
  background-image: url(./images/BG.png);
  background-position: right top;
  background-size: 140%;
  background-repeat: no-repeat;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  padding: 4rem 1rem 2rem;
}

.content {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  width: 100%;
  max-width: 400px;
}

.text {
  font-size: clamp(1rem, 15vw, 3rem);
  color: white;
}

.game {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
}

.spinBtn {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  padding: 5px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.spinBtn > img {
  width: 100%;
  height: auto;
}

.holder {
  position: absolute;
  top: -9px;
  left: calc(50% - 15px);
  background-image: url(./images/holder.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 40px;
  z-index: 100;
}

.wheel {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 15px #ffffff;
  z-index: 10;
  overflow: hidden;
}

.accomp {
  position: absolute;
  display: grid;
  place-content: center;
  width: 50%;
  height: 50%;
  background: var(--clr);
  transform-origin: bottom right;
  z-index: 1;
}

.accomp:nth-of-type(1) {
  left: calc(25%);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: rotate(0deg);
}

.accomp:nth-of-type(1) > .wheel__text {
  transform: rotate(90deg);
  padding-right: 30px;
}

.accomp:nth-of-type(2) {
  left: calc(50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  transform: rotate(0deg);
}

.accomp:nth-of-type(2) > .wheel__text {
  transform: rotate(135deg);
  padding-bottom: 30px;
}

.accomp:nth-of-type(3) {
  top: 50%;
  left: calc(50%);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 0);
  transform: rotate(0deg);
}

.accomp:nth-of-type(3) > .wheel__text {
  transform: rotate(225deg);
  padding-top: 30px;
}

.accomp:nth-of-type(4) {
  top: 50%;
  left: calc(25%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(0deg);
}

.accomp:nth-of-type(4) > .wheel__text {
  transform: rotate(270deg);
  padding-right: 30px;
}

.accomp:nth-of-type(5) {
  top: 50%;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  transform: rotate(0deg);
}

.accomp:nth-of-type(5) > .wheel__text {
  transform: rotate(315deg);
  padding-bottom: 30px;
}

.accomp:nth-of-type(6) {
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
  transform: rotate(0deg);
}

.accomp:nth-of-type(6) > .wheel__text {
  transform: rotate(45deg);
  padding-top: 30px;
}

@media screen and (min-width: 1000px) {
  body {
    background-image: linear-gradient(
      180deg,
          hsla(243, 100%, 41%, 1) 0%,
    hsla(261, 89%, 27%, 0.9) 30%, /* You can adjust the alpha value (0.7) for transparency */
    hsla(330, 100%, 31%, 0.8) 49%, /* You can adjust the alpha value (0.5) for transparency */
    hsla(354, 80%, 47%, 0.8) 66%, /* You can adjust the alpha value (0.8) for transparency */
    hsla(1, 100%, 58%, 0.9) 82%, /* You can adjust the alpha value (0.82) for transparency */
    hsla(1, 100%, 58%, 1) 100%
    );
  }

  body::after {
    width: 38%;
    height: 90%;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    background-image: url(./images/BG.png);
    background-position: left -120px;
    background-size: cover;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    max-width: 100%;
    padding: 2rem 3rem;
  }

  .content {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 5rem;
    gap: 8rem;
  }

  .logo {
    width: 100%;
    max-width: 600px;
  }

  .text {
    font-size: 5rem;
  }

  .game {
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: flex-start;
    justify-content: center;
  }

  .container {
    width: 450px;
    height: 450px;
  }
    .wheel{
        border: solid 15px #ffffff;
    }
}

@media screen and (min-width: 1280px) {
  body::after {
    width: 40%;
    height: 75%;
    background-position: -30% -120px;
    background-size: 130%;
  }

  .container {
    width: 530px;
    height: 530px;
  }
    .wheel{
        border: solid 15px #ffffff;
    }
}

@media screen and (min-width: 1440px) {
  body::after {
    width: 40%;
    height: 87%;
    background-position: left -120px;
    background-size: 120%;
  }

  .game {
    padding-top: 80px;
  }

  .container {
    width: 560px;
    height: 560px;
  }
    .wheel{
        border: solid 15px #ffffff;
    }
}

.bodyOverflow {
  overflow: hidden;
}

.modalOverlay {
  position: absolute;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0.5;
}

.modal {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
  top: calc(50% - 100px);
  width: calc(100% - 3rem);
  max-width: 400px;
  min-height: 200px;
  margin: 3rem;
  background-color: white;
  border-radius: 20px;
  z-index: 10000;
  animation: modal-reveal 0.35s ease;
  -webkit-animation: modal-reveal 0.35s ease;
}

.modalHeading {
  color: #db4437;
}

.hideModal {
  display: none;
}

@keyframes modal-reveal {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
